---
import Layout from "../layouts/Layout.astro";
import Hero from "../sections/Hero.astro";
import Experience from "../sections/Experience.astro";
import Projects from "../sections/Projects.astro";
import Education from "../sections/Education.astro";
import Contact from "../sections/Contact.astro";
import Footer from "../sections/Footer.astro";
import Skills from "../sections/Skills.astro";
import ExtraProjects from "../sections/ExtraProjects.astro";
import Header from "../sections/Header.astro";
---

<Layout
    title="Luis Arzola | Full-Stack Engineer"
    description="Welcome to the portfolio of Luis Arzola, a Full-Stack Developer with experience in JavaScript, TypeScript, React, HTML, CSS, and more."
    image="/img/portfolio-thumbnail.webp"
>
    <Header />
    <Hero />
    <section class="flex flex-col xl:flex-row justify-between sm:gap-[20px] 2xl:gap-[100px] mt-0">
        <Experience />
        <Skills />
    </section>
    <Projects />
    <ExtraProjects />
    <Education />
    <Contact />
    <Footer />
</Layout>
