---
import Layout from "../layouts/Layout.astro";
import Hero from "../sections/Hero.astro";
import Experience from "../sections/Experience.astro";
import Projects from "../sections/Projects.astro";
import Education from "../sections/Education.astro";
import Contact from "../sections/Contact.astro";
import Footer from "../sections/Footer.astro";
import Skills from "../sections/Skills.astro";
import ExtraProjects from "../sections/ExtraProjects.astro";
---

<Layout title="Luis Arzola | Full-Stack Engineer">
    <Hero />
    <div class="flex justify-between gap-[100px] mt-10 max-w-[1515px]">
        <Experience />
        <Skills />
    </div>
    <Projects />
    <ExtraProjects />
    <Education />
    <Contact />
    <Footer />
</Layout>
