---
interface Props {
    content: string;
    url: string;
    download?: string;
}

const { content, url, download } = Astro.props;
---

<a
    href={url}
    download={download}
    class="text-base sm:text-lg border border-transparent xl:text-xl bg-accent px-5 py-[10px] sm:py-3 rounded-xl transition-all duration-300 hover:bg-[#4c2b7a] hover:border hover:border-primary/80 select-none"
>
    {content}
</a>
