<a href="https://www.linkedin.com/in/luis-arzola/" target="_blank"
    ><img
        class="border border-transparent transition-all duration-300 hover:border-primary/80 p-[8px] sm:p-[10px] bg-primary/20 rounded-xl w-[40px] sm:w-[52px]"
        src="/svg/linkedin.svg"
        alt="Linkedin Icon"
    /></a
>
<a href="https://github.com/ArzolaG" target="_blank">
    <img
        class="border border-transparent transition-all duration-300 hover:border-primary/80 p-[8px] sm:p-[10px] bg-primary/20 rounded-xl w-[44px] sm:w-[52px]"
        src="/svg/github.svg"
        alt="Github Icon"
    />
</a>
<a href="mailto:arzoladeveloper@gmail.com" target="_blank">
    <img
        class="border border-transparent transition-all duration-300 hover:border-primary/80 p-[8px] sm:p-[10px] bg-primary/20 rounded-xl w-[44px] sm:w-[52px]"
        src="/svg/mail.svg"
        alt="Mail Icon"
    />
</a>
