---
import Button from "../components/Button.astro";
---

<section class="flex flex-col items-center justify-center">
    <h2>Contact Me</h2>
    <p class="max-w-[900px] text-center mt-8 mb-8 text-text text-lg">
        I’m always excited to discuss new projects, collaborations, or opportunities. Whether you have a question, want to work together, or
        just want to say hello, feel free to reach out. I’ll get back to you as soon as possible.
    </p>
    <a href="mailto:arzoladeveloper@gmail.com" class="text-primary font-bold">arzoladeveloper@gmail.com</a>
    <div class="flex w-full gap-5 mt-12 justify-center mb-9">
        <img class="p-[10px] bg-primary/20 rounded-xl w-[52px]" src="/svg/linkedin.svg" alt="Linkedin Icon" />
        <img class="p-[10px] bg-primary/20 rounded-xl w-[52px]" src="/svg/github.svg" alt="Github Icon" />
        <img class="p-[10px] bg-primary/20 rounded-xl w-[52px]" src="/svg/mail.svg" alt="Mail Icon" />
    </div>
    <Button content="Download Resume" url="#download" />
</section>
