---
import Button from "../components/Button.astro";
import Links from "../components/Links.astro";
---

<section class="flex flex-col items-center justify-center" id="contact">
    <h2>Contact Me</h2>
    <p class="max-w-[900px] text-center mt-8 mb-8 text-text text-base sm:text-lg">
        I’m always excited to discuss new projects, collaborations, or opportunities. Whether you have a question, want to work together, or
        just want to say hello, feel free to reach out. I’ll get back to you as soon as possible.
    </p>
    <a href="mailto:arzoladeveloper@gmail.com" class="text-primary font-bold">arzoladeveloper@gmail.com</a>
    <div class="flex w-full gap-5 mt-12 justify-center mb-9">
        <Links />
    </div>
    <Button content="Download Resume" url="/resume.pdf" download="Luis Arzola Resume" />
</section>
