<section id="education">
    <h2>Education</h2>
    <div class="flex flex-col xl:flex-row gap-14 mt-10">
        <div class="xl:w-1/2 flex flex-col p-4 md:p-10 bg-secondary/5 rounded-xl border border-secondary/50 shadow-lg">
            <div class="flex justify-between items-center flex-wrap">
                <h4 class="text-lg sm:text-[22px] font-bold">Instituto Tecnológico de Tijuana</h4>
                <span class="text-secondary/80 text-sm font-bold min-w-[93px]">2018 - 2023</span>
            </div>
            <p class="text-primary mt-3 sm:mt-0">Bachelor of Computer System Engineering</p>
            <p class="text-xs text-white/50 my-6">Tijuana, Baja California, México</p>
            <ul class="list-none flex flex-col gap-6 sm:pl-8">
                <li>Built and maintained code for various projects using C# and Object Oriented Programming.</li>
                <li>Developed responsive and functional web applications using HTML, CSS, JavaScript, Node.js and MongoDB.</li>
            </ul>
        </div>
        <div class="xl:w-1/2 flex flex-col p-4 md:p-10 bg-secondary/5 rounded-xl border border-secondary/50 shadow-lg">
            <div class="flex justify-between items-center flex-wrap">
                <h4 class="text-lg sm:text-[22px] font-bold">CETis No.58</h4>
                <span class="text-secondary/80 text-sm font-bold">2015 - 2018</span>
            </div>
            <p class="text-primary mt-3 sm:mt-0">Programming Technician</p>
            <p class="text-xs text-white/50 my-6">Tijuana, Baja California, México</p>
            <ul class="list-none flex flex-col gap-6 sm:pl-8">
                <li>Developed responsive web applications using HTML, CSS, PHP, and MySQL, focusing on dynamic and functional websites.</li>
                <li>
                    Acquired a strong foundation in software development, learning C#, Object-Oriented Programming, Visual Basic, and
                    Basic4Android.
                </li>
            </ul>
        </div>
    </div>
</section>

<style>
    ul li {
        position: relative;
    }
    ul li::before {
        content: "";
        position: absolute;
        left: -30px;
        top: 8px;
        /* transform: translate(-50%, -50%); */
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 10px solid #b47eff;
    }

    @media screen and (max-width: 640px) {
        ul li::before {
            display: none;
        }
    }
</style>
