---
import ExperienceCard from "../components/ExperienceCard.astro";
---

<section class="w-full xl:w-[70%] mt-28 xl:mt-20 px-0" id="experience">
    <h2>Experience</h2>

    <ExperienceCard />
</section>
