<section>
    <div class="flex justify-between items-center p-5 bg-secondary/5 rounded-xl border border-secondary/35 mb-10">
        <p class="w-full">
            Built and designed by <span class="text-primary">Luis Arzola</span> using <span class="text-primary"
                >Astro, TypeScript and Tailwind.</span
            > © 2024
        </p>
        <div class="flex gap-3 justify-center">
            <a href="#" class="bg-primary/20 p-[8px] rounded-xl">
                <img class="w-[22px]" src="/svg/linkedin.svg" alt="Linkedin Icon" />
            </a>
            <a href="#" class="bg-primary/20 p-[8px] rounded-xl">
                <img class="w-[22px]" src="/svg/github.svg" alt="Github Icon" />
            </a>
            <a href="#" class="bg-primary/20 p-[8px] rounded-xl">
                <img class="w-[22px]" src="/svg/figmawhite.svg" alt="Figma Icon" />
            </a>
        </div>
    </div>
</section>
