---
import Button from "../components/Button.astro";


---

<header class="flex justify-between items-center px-[20%] py-11">
    <nav>
        <ul class="flex gap-5">
            <li><a href="#">Experience</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Skills</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <Button content="Download Resume" url="#" />
</header>